*, *::before, *::after {
  box-sizing: border-box;
}


textarea, input { outline: none; border: 0; border-bottom: 1px solid #AAAEB2; }

body {
  margin: 0;
  font-family: "Averia", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  line-height: 1.4;
  font-size: 1.2rem;
}

.ui-wrapper {
  pointer-events: none;
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: gray;
}

.full-screen.transparent {
  background: transparent;
}

.view-picker-interface {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  pointer-events: all;
}

.house-candy-interface {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  pointer-events: all;
}

.betting-interface {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  pointer-events: all;
}

.button-component {
  width: 130px;  
  height: 50px;
  border-radius: 20px;
  margin: 0 8px;
  padding: 10px;
  background-color: #D9D9D9;
  border: 1px solid #AAAEB2;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  color: #54565B;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wide {
  width: 300px;
}

.button-component:hover {
  background-color: #ffe5e5;
}

.button-component.active {
  background-color: #ffffff;
}

.content-component {
  background-color: #ffffff;
  border: 1px solid #AAAEB2;
  padding: 25px;
  border-radius: 30px;
  color: #AAAEB2;
}

.content-component.wide {
  width: 400px;
  margin-top: 15px;
}

.place-bet-interface {
  display: flex;
  flex-direction: row;
}

.content-component-column {
  flex: 1;
}

.place-bet-button {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-component {
  font-size: 12pt;
  text-align: center;
  width: 150px;
  padding: 0px 0;
}

.content-component-row {
  margin: 2px 0;
}

.highlight-value {
  color: black;
  text-align: center;
  width: 150px;
}